{% extends 'computacao/layout.html' %}

{% block main %}

<main class="col-sm-12 text-center">

    <h3>Expressões Regulares</h3>
    <a href="{% url 'computacao:nova_expressao' %}" class="btn btn-success btn-sm btn-block">
        Crie uma Expressão Regular
    </a>
    <br>
    <p>Apresentam-se em baixo Expressões Regulares criadas.</p>

    <table align="center" class="table" style="max-width:900px">
        <tr>
            <th class="text-center">Diagrama de Estados</th>
            <th class="text-center">Descrição</th>
        </tr>
        {% for expressao in expressoes %}
            <tr class="text-left">
                <td>
                    <a href="{% url 'computacao:expressao' expressao.id %}">
                        {{ expressao.printExpressao }}
                    </a>
                </td>
                <td style="vertical-align:bottom">
                    <p>{{ expressao.descricao }}</p>
                    <p>
                        <a href="{% url 'computacao:expressao' expressao.id %}" class="btn btn-info  btn-sm">
                            Detalhes
                        </a>
                        <a href="{% url 'computacao:expressao' expressao.id %}" class="btn btn-success  btn-sm">
                            Validar Sequência
                        </a>
                        <a href="{% url 'computacao:edita_expressao' expressao.id %}" class="btn btn-warning  btn-sm">
                            Editar ER
                        </a>
                        <a href="{% url 'computacao:apaga_expressao' expressao.id %}" class="btn btn-danger  btn-sm">
                            Apagar ER
                        </a>
                    </p>

                </td>

            </tr>
        {% endfor %}
    </table>

</main>

{% endblock main %}