{% extends 'computacao/layout.html' %}

{% block main %}

<main class="col-sm-12 text-center">

        <h3>Máquinas de turing</h3>
        <a href="{% url 'computacao:nova_turing' %}" class="btn btn-success btn-sm btn-block">
            Crie uma MT
        </a>
        <br>
        <p>Apresentam-se em baixo máquinas de turing criadas.</p>

        <table align="center" class="table" style="max-width:900px">
            <tr>
                <th class="text-center">Diagrama de Estados</th>
                <th class="text-center">Descrição</th>
            </tr>
            {% load static %}
            {% for maquina in maquinas %}
                <tr class="text-left">
                    <td>
                        <a href="{% url 'computacao:maquina' maquina.id %}">
                            <img src="{% static maquina.diagrama %}" alt="" width="80%">
                        </a>
                    </td>
                    <td style="vertical-align:bottom">
                        <p>{{ maquina.descricao }}</p>
                        <p>
                            <a href="{% url 'computacao:maquina' maquina.id %}" class="btn btn-info  btn-sm">
                                Detalhes
                            </a>
                            <a href="{% url 'computacao:maquina' maquina.id %}" class="btn btn-success  btn-sm">
                                Validar Sequência
                            </a>
                            <a href="{% url 'computacao:edita_maquina' maquina.id %}" class="btn btn-warning  btn-sm">
                                Editar TM
                            </a>
                            <a href="{% url 'computacao:apaga_maquina' maquina.id %}" class="btn btn-danger  btn-sm">
                                Apagar TM
                            </a>
                        </p>

                    </td>

                </tr>
            {% endfor %}
        </table>

        

    </main>

{% endblock main %}



